.wrapper {

    display        : flex;
    flex-flow      : column;
    justify-content: center;
    align-items    : center;
}

.container {
    width    : var(--default-layout-width);
    max-width: 100%;
    display  : flex;
    padding  : var(--default-layout-header-height) 0 0;
}

.left-content {
    width: 356px;
}

.content {

    flex: 1;
}