.wrapper {
    display        : flex;
    flex-flow      : column;
    justify-content: center;
    align-items    : center;
}

.container {
    width  : var(--default-layout-width);
    display: flex;
    padding: var(--default-layout-header-height) var(--default-layout-padding) 0;
}

.content {
    flex: 1;
}