.wrapper {
    display        : flex;
    flex-flow      : column;
    justify-content: center;
    align-items    : center;
}

.container {
    width  : var(--default-layout-width);
    display: flex;
    padding: 0 var(--default-layout-padding);
}

.content {
    padding-top: var(--default-layout-header-height);
    flex       : 1;
}