@import 'normalize.css';

:root {
    --primary   : rgba(254, 44, 85, 1);
    --black     : #000;
    --white     : #fff;
    --text-color: #161823;

    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width        : 1150px;
    --default-layout-padding      : 20px;
}

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html {
    font-size      : 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family   : 'ProximaNova', sans-serif;
    font-size     : 1.6rem;
    line-height   : 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    border : none;
    outline: none;
}

a[href] {
    text-decoration: none;
    color          : var(--text-color);
}

// scroll custom
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background           : rgb(255, 255, 255);
    border-radius        : 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius   : 8px;
    -ms-border-radius    : 8px;
    -o-border-radius     : 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(22, 24, 35, 0.06);
    border-radius   : 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body {
    .tippy-box {
        background           : rgba(84, 84, 84, 0.92);
        padding              : 6px 6px;
        border-radius        : 8px;
        font-size            : 1.6rem;
        font-weight          : 600;
        line-height          : 2.2rem;
        -webkit-border-radius: 8px;
        -moz-border-radius   : 8px;
        -ms-border-radius    : 8px;
        -o-border-radius     : 8px;
    }
}

// fonts emnbeded

@font-face {
    font-family: ProximaNova;
    src        : url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src        : url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src        : url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src        : url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}